.wrapper{
    position: relative;
    width: 100%;
    height: 3488px;
    
    background: linear-gradient(180deg, #000000 0%, #927C31 53.65%, #000000 100%);
}

.titulo1{
    position: absolute;
width: 140px;
height: 42px;
left: 451px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;

color: #E8BD28;
}

.titulo2{
    position: absolute;
width: 493px;
height: 72px;
left: 631px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 58px;

color: #E8BD28;
}

.cima{
    position: absolute;
width: 1657px;
height: 200px;
left: 0px;
top: 0px;

background: #000000;
}

.rodape{
    position: absolute;
width: 1657px;
height: 225px;
left: 0px;
top: 3487px;

background: #000000;
transform: matrix(1, 0, 0, -1, 0, 0);
}

.re1{
    position: absolute;
width: 989px;
height: 593px;
left: 353px;
top: 179px;

background: rgba(0, 0, 0, 0.58);
mix-blend-mode: darken;
border-radius: 95px;
}

.t1{
    position: absolute;
width: 904px;
height: 523px;
left: 400px;
top: 200px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #FFFFFF;

}
.ct1{
        position: absolute;
    width: 904px;
    height: 523px;
    left: 400px;
    top: 200px;
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    
    color: #FFFFFF;
}

.re2{
    position: absolute;
width: 768px;
height: 1143px;
left: 61px;
top: 814px;

background: rgba(0, 0, 0, 0.58);
mix-blend-mode: darken;
border-radius: 95px;
}

.t2{
    position: absolute;
width: 662px;
height: 1063px;
left: 100px;
top: 900px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;
}



#IframePosicao {
    position: absolute;
    overflow:auto;
    top: 1100px;
    left: 1100px;
    z-index: 5;
    margin-top: -155px;
    margin-left: -200px;
  }

.re4{
    position: absolute;
width: 287px;
height: 212px;
left: 923px;
top: 1536px;

background: url(on.png);
}

.re5{
    position: absolute;
width: 287px;
height: 212px;
left: 1320px;
top: 1536px;

background: url(ds.jpg);
}
.re6{
    position: absolute;
width: 543px;
height: 1109px;
left: 228px;
top: 2154px;

background: rgba(0, 0, 0, 0.58);
mix-blend-mode: darken;
border-radius: 85px;
}

.t3{
    position: absolute;
width: 483px;
height: 906px;
left: 255px;
top: 2207px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}

.re7{
    position: absolute;
width: 483px;
height: 864px;
left: 1062px;
top: 2154px;

background: rgba(0, 0, 0, 0.58);
mix-blend-mode: darken;
border-radius: 85px;
}

.t4{
    position: absolute;
width: 382px;
height: 828px;
left: 1100px;
top: 2179px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}

.li1{
    position: absolute;
width: 660px;
height: 0px;
left: 923px;
top: 1481px;

border: 1px solid #000000;
transform: rotate(-0.21deg);
}

.li2{
    position: absolute;
width: 666px;
height: 0px;
left: 928px;
top: 1826px;

border: 1px solid #000000;
transform: rotate(-0.22deg);
}

.b1{
    position: absolute;
    width: 68px;
    height: 69px;
    left: 961px;
    top: 2119px;
    border-radius: 100%;
    
    background: #E8BD28;
}

.b2{
    position: absolute;
width: 68px;
height: 69px;
left: 58px;
top: 2134px;
border-radius: 100%;

background: #E8BD28;
}

#ind{
    position: absolute;
    width: 397px;
    height: 191px;
    left: 1118px;
    top: 3019px;
    
    background: url(ind.jpg);
}

.inc{
    position: absolute;
width: 388px;
height: 92px;
left: 1200px;
top: 1900px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 125px;

color: #FFFFFF;
}

.obj{
    position: absolute;
width: 500px;
height: 130px;
left: 350px;
top: 1900px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 125px;

color: #FFFFFF;
}

.link{
    color: #E8BD28;
    rotate: 3000px;
}
